<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/app.min-cb8e6db45248d60ba8dc97dcad397133.css">
    {{{block "head"}}}
</head>
<body>
    {{{block "body"}}}
    <script src="/static/js/lib.min-abd4da93bc0b7837e8def2734dbdb7ff.js"></script>
    <script src="/static/js/app.min-1edbda343117fceeec371c0657c7a0ff.js"></script>
</body>
</html>

<!-- {{ pkg.version }} -->