<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/app.min-55b262557c6aaf877212d21c3ea6bf82.css">
    {{{block "head"}}}
</head>
<body>
    {{{block "body"}}}
    <script src="/static/js/lib.min-e62694705caa40beb70c7c7d4f8d644c.js"></script>
    <script src="/static/js/app.min-3356ae8de99474006c49ab3688055193.js"></script>
    {{{widgetBinder}}}
</body>
</html>
