<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/app.min-55b262557c6aaf877212d21c3ea6bf82.css">
    {{{block "head"}}}
</head>
<body>
    {{{block "body"}}}
    <script src="/static/js/lib.min-7a9611ed9ded01ad76a13b24503c608d.js"></script>
    <script src="/static/js/app.min-b52c54d4f6df60f03d11fda16946fcde.js"></script>
    {{{block "scripts"}}}
    {{{widgetBinder}}}
</body>
</html>
