<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/lib.min-9775f9217b5ca0cf0387f1167d1a8cc0.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.min-55b262557c6aaf877212d21c3ea6bf82.css">
    {{{block "head"}}}
</head>
<body>
    {{{block "body"}}}
    <script src="/static/js/lib.min-3b879020b95a3f6aeed46849290013f2.js"></script>
    <script src="/static/js/app.min-338a66834b2da982905111e19b0dcbf7.js"></script>
    {{{widgetBinder}}}
</body>
</html>
