<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/lib.min-1d480ee4e8e55acaae9af5f8fe3c8f4d.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.min-148537a5def8857ebdd5fa90f9e19ad6.css">
    {{{block "head"}}}
</head>
<body>
    {{{block "body"}}}
    <script src="/static/js/lib.min-7e55ac20b6173a3b38b8147aa00c78cc.js"></script>
    <script src="/static/js/app.min-6fd59738cbff5a76dfd50954ff8e0b1c.js"></script>
    {{{widgetBinder}}}
</body>
</html>
