<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/app.min-cb8e6db45248d60ba8dc97dcad397133.css">
    {{{block "head"}}}
</head>
<body>
    {{{block "body"}}}
    <script src="/static/js/lib.min-d71e9483608425567bd35ace5ec2781e.js"></script>
    <script src="/static/js/app.min-666d4aaf24ab9c7ef7673c715b4f4d82.js"></script>
</body>
</html>

<!-- {{ pkg.version }} -->