<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/app.min-cb8e6db45248d60ba8dc97dcad397133.css">
    {{{block "head"}}}
</head>
<body>
    {{{block "body"}}}
    <script src="/static/js/lib.min-21955bcf2da99c67da980850017f20b7.js"></script>
    <script src="/static/js/app.min-a9329cd1ea94c71ae05eef83ff7466e4.js"></script>
</body>
</html>

<!-- {{ pkg.version }} -->