{{#content 'head'}}
    <title>home</title>
{{/content}}

{{#content 'body'}}
    <h1>{{> title}}</h1>

    {{#widget js='app.widgets.map' cssclass='map'}}
        {{> widgets/map }}
    {{/widget}}

    {{#each [1, 2, 3]}}
      <div class="comment">
        <h2>das{{ this }}</h2>
      </div>
    {{/each}}
{{/content}}
